 @charset "utf-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Roboto);
/* @import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One); */

* {
  font-family: 'Roboto', sans-serif;
}
body{
    height: 100vh;
    display: table;
    width: 100%;
}
code {
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: rgba(245, 245, 245, 0.7) !important;
  text-align: left;
}

.well {
  padding: 25px;
  background-color: rgba(245, 245, 245, 0.7);
  border-radius: 5px;
}

.well p {
  font-size:
}

.btn-group-justified {
  margin: 0 auto;
}

h1 {
  text-align: center;
  padding-bottom: 25px;
}

.container {
  padding-top: 50px;
  padding-bottom: 50px;
}

a{
  color: #ccd500;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
  color: #a9b119;
}

.slotMachine .slot{
  height:100px;
  background-position-x: 55%;
  background-repeat: no-repeat;
}

.slot0 {
  background-image: url("../images/pct-00.png");
}
.slot1 {
  background-image: url("../images/pct-01.png");
}

.slot2 {
  background-image: url("../images/pct-02.png");
}

.slot3 {
  background-image: url("../images/pct-03.png");
}

.slot4 {
  background-image: url("../images/pct-04.png");
}

.slot5 {
  background-image: url("../images/pct-05.png");
}

.slot6 {
  background-image: url("../images/pct-06.png");
}

.slot7 {
  background-image: url("../images/pct-07.png");
}

.slot8 {
  background-image: url("../images/pct-08.png");
}

.slot9 {
  background-image: url("../images/pct-09.png");
}

/*
 * Header
 */
.header-line {
  width: 100%;
  position: absolute;
  background-color: #A48E4E;
  top: 0px;
}

header {
  margin-top: 10px;
  background-color: #DCD293;
  border-bottom: 10px solid #66D4FF;
  border-top: 20px dashed #A48E4E;
  padding: 2em;
  color:#333;
  font-size: 25px;
  text-align: center;
}

header a {
  color: #6C5726;
  font-weight: 700;
}

/*
 * Airlines
 */
#plane {
  width: 100%;
  position: relative;
  border-bottom: 10px solid #B8312F;
  border-top: 20px dashed #66D4FF;
  background-color: rgb(0, 175, 225);
  background-image: url('../img/plane.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
}

#plane .content {
  width: 100%;
  float: left;
  font-size: 50px;
  font-weight: 300;
  line-height: 42px;
  margin-top: 30px;
  text-align: center;
}

#plane .content, footer .content{
  font-family: 'Pathway Gothic One';
  font-size: 70px;
  font-weight: 300;
  line-height: 80px;
}

.badge {
  color: white;
  vertical-align: middle;
  font-size: 30px;
  background-color: rgb(0, 175, 225);
}

#planeMachine {
  height: 67px;
  overflow: hidden;
  display: inline-block;
  text-align: left;
}

/*
 * SlotMachine
 */
#randomize {
  border-bottom: 10px solid rgb(72, 158, 48);
  background-color: #EB6B56;
  border-top: 20px dashed #B8312F;
}

#randomize .row > div.col-sm-4 > div {
  padding: 40px;
  width: 180px;
  height: 180px;
  background: white;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

#randomize .row > div.col-xs-4 > div {
  padding-top: 40px;
  padding-left: 40px;
  width: 175px;
  height: 175px;
  background-color: #fff;
  border-radius: 50%;
  margin: auto;
}

.randomizeMachine {
  width: 100px;
  height: 100px;
}

#randomize .btn-group {
  margin-top: 30px;
  width: auto;
  margin-bottom: 15px;
}

.machineResult {
  color: #fff;
  text-align: center;
  font-weight: 900;
  height: 50px !important;
  background: transparent !important;
  font-size: 18px;
  padding: 10px !important;
}

/*
 * Watch
 */
#watch {
  border-top: 20px dashed rgb(72, 158, 48);
  border-bottom: 10px solid #195AC8;
  background-color: #46D265;
}

#watch h1 {
  margin: 0px;
}

#watch .small {
  text-align: center;
  background: url('../img/watch.png') no-repeat 50% 50%;
  height: 300px;
}

#watch1 {
  margin-left: calc(50% - 42px);
  transform: translateY(115px);
  width: 80px;
  height: 80px;
}

#watch1 .slotMachineContainer > div {
  color: #fff;
  height: 80px;
  width: 80px;
  font-size: 64px;
}

#watch .btn-group .btn {
  border: none;
  background-color: rgb(72, 158, 48);
}

#watch .btn-group .btn:hover, .btn-group .btn:focus {
  background-color: rgb(72, 158, 48);
}

/*
 * Triky
 */
 #triky {
   background: url(../img/triky.jpg) no-repeat right 130px;
   background-color: #0F99CA;
   border-bottom: 10px solid rgb(180, 75, 119);
   border-top: 20px dashed #195AC8;
   background-position-x: calc(100% + 40px)
 }

#triky1 {
  background-color: #fff;
  width: 155px;
  height: 155px;
  border-radius: 50%;
  padding-top: 4px;
}

/*
 * Casino
 */
#casino {
  background: url("../images/tet-bg.jpg")no-repeat center center;
  background-size: cover;
  display: table-cell;
  vertical-align: middle;
}
#casino .content{
  position: relative;
}


#casino .content:nth-child(1) {
  text-align: center;
  background: url('../images/lucky-draw-bg01.png') no-repeat center top;
  height: 626px;
  background-size: cover;
  max-width: 926px;
  margin: 0 auto;
}

#casino .content > div {
  padding-top: 235px;
  width: 500px;
  margin: 0 auto;
  transform: translateX(30px);
}

.machineContainer{
  padding: 5px 1px 5px 1px;
  height: 135px;
}

.slotMachine{
  width: 22.333333%;
  margin-top: 32px;
  height: 100px;
  display: inline-block;
}

#casino .btn-group {
  margin-top: 20px;
  transform: translateX(-25px);
}

#casino .btn-group .btn {
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: none !important;
}

/*
 * Footer
 */
footer{
  width:100%;
  background-color: #6C5726;
  border-top: 20px dashed #A48E4E;
  height: 180px;
  padding-top: 40px;
  text-align: center;
  color: #DCD293;
}

#textMachine {
  width:520px;
  height: 67px;
  overflow: hidden;
  display: inline-block;
  text-align: left;
}

.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}


/*custom*/
.btn-primary{
  border: none;
}
#casinoShuffle{
  background: url("../images/luckydraw-edit-02.png") no-repeat center center;
  background-size: cover;
  min-width: 135px;
  min-height: 55px;
}
#casinoStop{
  background: url("../images/luckydraw-edit-15.png") no-repeat center center;
  background-size: cover;
  min-width: 112px;
  height: 42px;
  position: relative;
  top: 15px;
}
.casino-number{
  display: block;
  background: url("../images/luckydraw-edit-14.png") no-repeat center center;
  background-size: cover;
  height: 165px;
  margin-left: -50px;
}
.content__list{
  position: absolute;
  left: 15px;
  bottom: 0;
  cursor: pointer;
  background: #e9593f;
  color: #fff;
  font-weight: bold;
  border-radius: 3px;
}
.content__list a{
  color: #fff;
  display: block;
  padding: 10px;
}
.content__list a:hover{
  text-decoration: none;
}
.content__list--02{
    bottom: 62px;
    right: 15px;
    left: auto;
}
.content__select{
  width: 190px;
  position: absolute;
  right: 15px;
  bottom: 18px;
  padding: 10px;
  background: #e9593f;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-weight: bold;
}
.modal{
  overflow: unset!important;
}
.modal a.close-modal{
  background-image: url("../images/icn-close.png")!important;
}
.list-final{
  font-size: 25px;
  line-height: 0.7;
}
.list-final span{
  font-size: 30px;
  font-weight: bold;
  color: #009688;
}
.type-draw{
    margin-left: -61px;
    margin-top: 30px;
}
.txt-center{
  text-align: center;
}